// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$text-color: rgb(34, 34, 34);

$brand-color: #777aee;

$light-grey: rgb(237, 237, 237);

$mid-grey: rgb(153, 153, 153);

$dark-grey: rgb(68, 68, 68);

// Sizes-vars

/**

Include if you want !!

**/
